#img-banner{
    background-color: #1A0E2E;;
    margin: 70px;
    padding: 0;
    margin-top: -11vh;
    display: flex;
    width: 80%;
    height: fit-content;
    }


    #img-banner img{
        margin: 6px;
        height: fit-content;
        width: 60%;
        float: right; /* Float the container to the right */
        margin-left: 550px;
        display: flex;

    }
    
