.image-slider {
margin-top: -70px;
margin-left: 70px;

width: 80%  ; 
height: fit-content;
background-color: #1A0E2E;
 }
  .image-container img {
    margin: 0px;
    margin-left: 0;
    height: fit-content;
    margin-top: 9px;

  }

  .hi{
    color: red;
    position: absolute;
    margin-top: -450px;
    margin-left: 85px;
    font-size: 30px;
  }

  .primary-text{
    font-size: 20px;
    color: blue;
    margin: 55px;
    margin-left: 5px;
  }