.image-slider {
margin-top: -50px;
margin-left: 120px;

width: 80%  ; 
height: fit-content;
background-color: #1A0E2E;
 }
  .image-container img {
    margin: 0px;
    margin-left: 0;
    height: fit-content;
    margin-top: 9px;

  }

  .hi{
    color: rgb(238, 82, 144);
    position: absolute;
    margin-top: -450px;
    margin-left: 85px;
    font-size: 30px;
    
  }

  .primary-text{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #bb10f9;
    margin: 55px;
    margin-left: 5px;
  }
  .footer{
    background-color: #0b0416;
    margin: -2.9px;
    width: 100%;
    margin-left: 0;
    height: fit-content;
  }
  .footer-title {
    color:  rgb(130, 66, 220);;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 35px;
    font-weight: 900;
    padding-top: 29px;
  }
.footer-socialmedia{
  color: rgb(165, 31, 175);
  padding: 20px ;
  font-size: 35px;
  padding-right:   65vh ;
  padding-left:  65vh;
  
  display: flex;
  justify-content: space-between;
}




  .footer-below-links{
    
    line-height: 15px;
    display: flex;
    font-weight: 600;
    font-size: 15px;
    justify-content: center;
    justify-content: space-between;
    padding-left: 55vh;
    padding-right: 55vh;
    padding-bottom: 15px;
    
    
  }
  .footer-below-links p{
        color: rgb(130, 66, 220);
        margin-top: -9px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
  }
  .copyright p{
color: rgb(93, 12, 89);
background-color: #0b0416;
height: 29px;
justify-content: center;
align-items: center;
display: flex;
font-size: small;
font-weight: 39px;
  }

  @media only screen and (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
    }


    .image-slider {
      margin-top: -120px;
      margin-left: 68px;
      
      width: 80%  ; 
      height: fit-content;
      background-color: #1A0E2E;
       }

       .hi{
        color: red;
        position: absolute;
        margin-top: -355px;
        margin-left: 80px;
        font-size: 18px;
      }
      .primary-text{
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        color: #bb10f9;
        margin: 55px;
        margin-left: -59px;
      }
    
}