.image-slider {
margin-top: -50px;
margin-left: 120px;

width: 80%  ; 
height: fit-content;
background-color: #1A0E2E;
 }
  .image-container img {
    margin: 0px;
    margin-left: 0;
    height: fit-content;
    margin-top: 9px;

  }

  .hi{
    color: rgb(238, 82, 144);
    position: absolute;
    margin-top: -450px;
    margin-left: 85px;
    font-size: 30px;
    
  }

  .primary-text{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #bb10f9;
    margin: 55px;
    margin-left: 5px;
  }


  @media only screen and (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
    }


    .image-slider {
      margin-top: -120px;
      margin-left: 68px;
      
      width: 80%  ; 
      height: fit-content;
      background-color: #1A0E2E;
       }

       .hi{
        color: red;
        position: absolute;
        margin-top: -355px;
        margin-left: 80px;
        font-size: 18px;
      }
      .primary-text{
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        color: #bb10f9;
        margin: 55px;
        margin-left: -59px;
      }
    
}