* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: blueviolet;
}

nav {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;

}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 2rem;
}


.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  margin-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #1f0842;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 3rem);
  color: #E91756;
  /* line-height: 5rem; */
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1rem);
  max-width: 500px;
  color: #730fc5b9;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: purple;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: blue;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-image-section {
  
margin: 0;
  
}

.home-image-section img{
  max-width: 100px;
 float: right;
 display: flex;
 position: relative;

}